.container {
  display: flex;
  justify-content: start;
}
.strength-box {
  width: 30px;
  height: 10px;
  border: 1px solid black;
  margin-right: 10px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
